@model IEnumerable<Domain.OrderToUnload>
@Html.Partial("_Orders", Model)
<div id="unloadId">
    @Ajax.ActionLink("Unload to Excel", "Unload", null, new AjaxOptions()
{
    Url = Url.Action("Unload"),
    UpdateTargetId = "unloadId"
}, new { @class = "btn btn-success btn-sm pull-right" })
</div>

<div class="text-center">
    @Html.Partial("_PageLinks")
</div>
