@model IEnumerable<Domain.OrderToUnload>
@Html.Partial("_Orders", Model)
<div id="unloadId">
    @Ajax.ActionLink("Unload to Excel", "Unload", null, new AjaxOptions()
{
    Url = Url.Action("Unload"),
    UpdateTargetId = "unloadId",
    OnSuccess = "enableButtons"
}, new { @class = "btn btn-success btn-sm pull-right", id="showCreateBt", onclick="disableButtons()"})
</div>

<div class="text-center" id="pages">
    @Html.Partial("_PageLinks")
</div>
