@model IEnumerable<Domain.OrderToUnload>
<div class="pull-right">
    @Ajax.ActionLink("Unload to Excel","Unload", null,new AjaxOptions()
    {
        Url = Url.Action("Unload")
    }, new {@class="btn btn-success btn-sm"})
</div>

