@model IEnumerable<Domain.OrderToUnload>
<div class="pull-right">
    @Ajax.ActionLink("Unload to Excel", "Unload", new {orders = Model.ToList()}, new AjaxOptions()
    {
        Url = Url.Action("Unload", new {orders = Model.ToList()})
    }, new {@class = "btn btn-success btn-sm"})
</div>

